{% extends "base.html" %}
{% block title %}Editar Tienda: {{ store.name }}{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Editar Tienda: {{ store.name }}</h2>
    <form action="/edit_store/{{ store.id }}" method="POST">
        <label for="name">Nombre de la Tienda</label>
        <input type="text" id="name" name="name" value="{{ store.name }}" required>
        
        <label for="description">Descripción de la Tienda</label>
        <textarea id="description" name="description" required>{{ store.description }}</textarea>
        
        <label for="address">Dirección de la Tienda</label>
        <input type="text" id="address" name="address" value="{{ store.address }}" required>
        
        <button type="submit">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
