{% extends "base.html" %}
{% block title %}Todas las Tiendas{% endblock %}
{% block content %}
<div class="stores-container">
    <h2>Todas las Tiendas</h2>
    {% for store in stores %}
    <div class="store-card">
        {% if store.suspended_until  %}
            <p class="suspended-message">Esta tienda está temporalmente suspendida.</p>
            <h3>{{ store.name }}</h3>
            <p class="store-description">{{ store.description }}</p>
            <p class="store-address">{{ store.address }}</p>
            <p class="store-rating">Calificación: {{ store.rating | round(1) }}</p>
        {% else %}
            <a href="/store/{{ store.id }}" class="store-card-link">
                <h3>{{ store.name }}</h3>
                <p class="store-description">{{ store.description }}</p>
                <p class="store-address">{{ store.address }}</p>
                <p class="store-rating">Calificación: {{ store.rating | round(1) }}</p>
            </a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
